{% extends 'base.html' %}

{% block content %}
    <div class="delete-article-container">
        <h1 class="delete-article-heading">Delete Article</h1>

        <p class="delete-confirmation-text">Are you sure you want to delete "{{ article.title }}"?</p>

        <form method="POST">
            {% csrf_token %}
            <a href="{% url 'articles:index' %}" class="cancel-button">Cancel</a>
            <button type="submit" class="delete-article-button">Delete</button>
        </form>
    </div>
{% endblock %}