{% extends 'base.html' %}

{% block content %}
    <div class="auth-wrapper">
        <div class="auth-container">
            <h1 class="auth-header">Register</h1>
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    {% include 'input-field.html' with field=field %}
                {% endfor %}
                <button type="submit" class="submit-button">Register</button>
            </form>
            <p class="auth-alternative">
                Already have an account?
                <a href="{% url 'articles:login' %}">Login</a>
            </p>
        </div>
    </div>
{% endblock %}